{% extends "base.html" %}

{% block script %}
<!-- <script type="text/javascript" src="{{ static_url("javascript/upload.js") }}"></script> -->
<script type="text/javascript">

function UpladFile() {

    var fileObj = document.getElementById("pic").files[0]; // 获取文件对象
    var FileController = "/admin"; // 接收上传文件的后台地址

    // FormData 对象
    var form = new FormData();
    form.append("author", "hooyes"); // 可以增加表单数据
    form.append("file", fileObj); // 文件对象

    // XMLHttpRequest 对象
    var xhr = new XMLHttpRequest();
    xhr.open("post", FileController, true);
    xhr.onload = function () { alert("上传完成!"); };
    xhr.send(form);
}
</script>
{% end %}

{% block header %}
<section></section>
<section>上新</section>
<section></section>
{% end %}

{% block body %}
<form action='admin' enctype="multipart/form-data" method='post'>
<div class='u-box m-ipt-group2'>
    <ul id="upload_ul">
        <li class='first'>
        <input type="text" placeholder='分类' name="catalog" id="catalog" value="">
        </li>

        <li>
        <input type="text" placeholder='主标题' name="name" id="name" value="">
        </li>

        <li>
        <input type="txet" placeholder='活动标题' name="subname" id="subname" value="">
        </li>

        <li>
        <input type="text" placeholder='原价' name="price" id="price" value="">
        </li>

        <li>
        <input type="text" placeholder='现价或折扣价' name="discount" id="discount" value="">
        </li>

        <li>
        <input type="file" placeholder='图片' name="pic" id="pic" value="">
        </li>

        <textarea name="description" rows="5" cols="40">
        </textarea>

    </ul>
</div>

<div class='m-login'>
    <input class='u-btn-blue u-btn-fullwd u-txt-white18' type='submit' value='submit'/>
</div>
</form>

{% end %}
